<div class="containter mop-div">
    <label for="pwd">Method of payments</label>
            
    <div class="btn-group-vertical btn-block btns-pmts-option" data-toggle="buttons">
        <button type="button" class="btn btn-defult {{immdt_btn.mop_btn_active}} imdt {{x}}" (click)="showScreenBelow($event)"><a data-toggle="tooltip" title="{{imdtInfo}}" >{{immdt_btn.mopName}}: {{immdt_btn.mopNA}} {{feeData.immidiateFee}}  {{currency}}</a></button>
        <button type="button" class="btn btn-defult {{urg_btn.mop_btn_active}} urgt {{y}}" (click)="showScreenBelow($event)"><a data-toggle="tooltip" title={{urgInfo}}>{{urg_btn.mopName}}:  {{urg_btn.mopNA}}{{feeData.urgentFee}}  {{currency}}</a></button>
        <button type="button" class="btn btn-defult {{nUrg_btn.mop_btn_active}} nogt {{z}}" (click)="showScreenBelow($event)"><a data-toggle="tooltip" title={{nUrgInfo}} >{{nUrg_btn.mopName}}: {{nUrg_btn.mopNA}}{{feeData.nonUrgentFee}}  {{currency}}</a></button>
<!-->
        <div class="radio"> 
            <label><input type="radio" name="optradio">{{immdt_btn.mopName}}  {{immidiateFee}}</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio">{{urg_btn.mopName}}  {{directDebitFee}}</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio">{{nUrg_btn.mopName}} {{loanFee}}</label>
          </div><-->
    </div>
</div>




<div class="panel panel-default block-fee-info fee-info-div" *ngIf="isVisible" (click)="setChoosenFees($event)">
        <div class="whopay"><label for="pwd">Who Pay Charges</label></div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#sha" class="tab-grn">SHA</a></li>
            <li><a data-toggle="tab" href="#ben" class="tab-grn">BEN</a></li>
            <li><a data-toggle="tab" href="#our" class="tab-grn">OUR</a></li>
          </ul>
          
          <div class="tab-content fee-info-div">
            <div id="sha" class="tab-pane fade in active">
                    <div class="panel-body fee-info-div" (dblclick)="closeScreen()">SHA - Each party pays its own fees <br> Your fees will added to amount</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Total [{{currency}}]</th>
                            <th scope="col">Cable Fees</th>
                            <th scope="col">Int. Fees</th>
                            <th scope="col">Tax Fees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{feeData.productFee}}</th>
                            <td>{{feeData.productCableFee}}</td>
                            <td>{{feeData.productInternationalFee}}</td>
                            <td>{{feeData.productTaxFee}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div id="our" class="tab-pane fade" >
                    <div class="panel-body" (dblclick)="closeScreen()">OUR - Originator pays all charges <br> Fees will be added to amount</div>
                    <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Total [{{currency}}]</th>
                                    <th scope="col">Cable Fees</th>
                                    <th scope="col">Int. Fees</th>
                                    <th scope="col">Tax Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{feeData.productFee}}</th>
                                    <td>{{feeData.productCableFee}}</td>
                                    <td>{{feeData.productInternationalFee}}</td>
                                    <td>{{feeData.productTaxFee}}</td>
                                </tr>
                            </tbody>
                        </table>
            </div>
    
            <div id="ben" class="tab-pane fade">
                    <div class="panel-body" (dblclick)="closeScreen()">BEN - Beneficiary pays all charges <br> Fees will be subtracted from amount</div>
                    <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Total [{{currency}}]</th>
                                    <th scope="col">Cable Fees</th>
                                    <th scope="col">Int. Fees</th>
                                    <th scope="col">Tax Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">0</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
            </div>
          </div>
    </div>
 