.team-title{
    margin-bottom: 50px;
}

h4{
    font-weight: bold;
    color:  darkolivegreen;
}

h2{
    font-weight: bold;
    color: white;
}

.boldit{
    font-weight: bold;
}

.card-bg{
    background-color: beige;
    padding: 10px 15px 15px 15px;
    border-radius:5px;

}