<app-navbar2></app-navbar2>
<app-jambatron></app-jambatron>


<div class = "container text-center team-title">
  <div class ="row">
    <div class="col-sm-12">
      <h2>Sheep Shepherds Team</h2>
    </div>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="col-sm-3 ">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="./assets/img/eyal.jpg" alt="Card image cap" height="200" width="200">
            <div class="card-block">
              <h4 class="card-title">Eyal Ringwald</h4>
              <p class="card-text">Group Team Leader</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">  
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="./assets/img/oren.jpg" alt="Card image cap" height="200" width="200">
            <div class="card-block">
              <h4 class="card-title">Oren Wolinsky</h4>
              <p class="card-text">Frontend Developer</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 ">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="./assets/img/zachi.jpg" alt="Card image cap" height="200" width="200">
            <div class="card-block">
              <h4 class="card-title">Zachi Kochman</h4>
              <p class="card-text">Backend Developer</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 ">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="./assets/img/idan.jpg" alt="Card image cap" height="200" width="200">
            <div class="card-block">
              <h4 class="card-title">Idan Ostraicher</h4>
              <p class="card-text">Scram Master</p>
            </div>
        </div>
    </div>
  </div>
  
  
  
</div>
