<app-navbar2></app-navbar2>
<app-jambatron></app-jambatron>

<div class="transfer-div">
  <div class = "container text-center team-title">
          <div class ="row">
            <div class="col-sm-12">
              <div class="title-div">
                  <p>INTERNATIONAL TRANSFER<p>
              </div>
            </div>
          </div>
  </div>

  <div class="container transfer-div2" >
      <div class="row">

          <div class="col-sm-7 ">
              <app-money-transfer></app-money-transfer>
          </div>

          <!-->
          <div class="col-sm-1">  
          </div>
          <-->
          <div class="col-sm-5 mop">
              <app-mop></app-mop>
          </div>
      </div>
  </div>
</div>
