.bank-head-page{
    margin-top: -20px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: black;
    background-color:beige;
}

h1{
    font-weight: bold;
    font-size: 100px
}

p{
    font-weight: bold;
    font-size: 25px
}

.ss{
    width:1000px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    display: inline-block;
    text-align: center;
}
/*
.shp-rgt{
    position: relative;
    right: 250px;
    bottom: -25px;
}

.shp-lft{
    position: relative;
    left: 250px;
    bottom: -25px;
}*/

.SP{
    padding-left: 50px;
}