<div class="jumbotron text-center bank-head-page" >
        <div class="row">
          <div class="col-sm-1">
              <img src="/assets/img/sheep1.PNG" class="shp-lft" height="150" width="150"> 
          </div>
          <div class="col-sm-10 ">
              <div class="container ss">
                <h1>SHEEP BANK</h1>
                <p>THE SMART CHOICE IN BANKING</p> 
            </div>
          </div>
          
          <div class="col-sm-1 ">

          </div>
          
        </div>
  </div>