<form action="/action_page.php">

  
  <div class="form-group">
      <label for="email">Choose Your Account:</label>
      
      <div class="dropdown"  dropdown [dropdownToggle]="true" >
        <button class="btn btn-primary dropdown-toggle btn-block" dropdown-open type="button" >{{myAccounts}}
        <span class="caret"></span></button>
        <ul class="dropdown-menu" >
          <li><a href="#"  *ngFor="let acc of accList" (click)="setChoosenAccount($event)">{{acc}}</a></li>
        </ul>
      </div>
  </div>


  <div class="form-group">
    <label for="pwd">Choose Amount:</label>
    
    <div class="input-group"> 
      <span class="input-group-addon" >$</span>
      <input type="number" name="amt" value="100.00" min="0" step="0.50" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2"  [(ngModel)]="amount"/>
    </div> 
  </div>
  <div class="form-group ">
      <label for="pwd">Enter BIC:</label>
      <input type="text" name="bic" class="form-control" id="pwd" [(ngModel)]="bic" (input)="bicCal()">
  </div>


  <button type="button" class="btn btn-primary btn-block {{calculate_fees_disable}}" (click)="calculateFees()">Calculate Fees Options</button>
  <button type="button" class="btn btn-primary btn-block" *ngIf="isVisible" (click)="sumerrize()">Transfer Money</button>
</form>



<div class="card well sum-all-card" *ngIf="isVisible2" style="width: 35rem;">   
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Summarize Transaction</h4>
      <p class="card-text">Amount+fees</p>
      <p class="card-text">sending over to SBSA</p>
      <a href="#" class="btn btn-primary btn-block"  data-toggle="modal" data-target="#myModal">Submit</a>
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-header modal-bank">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Money is Transfered</h4>
      </div>
      <div class="modal-body modal-bank">
        <p>Thank you, come again</p>
      </div>
      <div class="modal-footer modal-bank">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="refresh()">Close</button>
      </div>
    </div>

  </div>
</div>