.sum-all-card{
    margin-top: 50px;
}

.modal-bank{
    background-color: darkolivegreen;
    color: white;
}

.mny-btn{
    margin-top: 15px;
}

.mny-input{
    background-color:beige;
    border-radius:5px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
}

.btn-mny{
    background-color: darkolivegreen;
    color: white;
}

.smrz-head{
    background-color: darkolivegreen;
    color: white;
}
input:focus {
    border: 0.5px solid darkolivegreen;
}

.sum-card{
    background-color: beige;
}

