<form action="/action_page.php" #ngFormInstance="ngForm" class="mny-input">
 
  <!-->customer account input<-->
  <div class="form-group" >
      <label for="email">Choose Your Account:</label>      
      <div class="dropdown"  dropdown [dropdownToggle]="true" >
        <button class="btn btn-mny dropdown-toggle btn-block" dropdown-open type="button" >{{myAccounts}}
        <span class="caret"></span></button>
        <ul class="dropdown-menu" >
          <li><a *ngFor="let acc of accList" (click)="setChoosenAccount($event)">{{acc}}</a></li>
        </ul>
      </div>
  </div>

  <!-->amount input<-->
  <div class="form-group">
    <label for="pwd">Choose Amount:</label>  
    <div class="input-group"> 
      <input type="number" name="amt" value="100.00" min="0" step="0.50" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2"  [(ngModel)]="amount" />
      <span class="input-group-addon">
        <div class="dropdown"  dropdown [dropdownToggle]="true" >
          <button class="btn-mny" dropdown-open type="button" >$</button>
          <ul class="dropdown-menu" >
            <li>$</li>
            <li>&euro;</li>
            <li>&#8356;</li> 
            <li>&#8377;</li> 
          </ul>
        </div></span>
    </div> 
  </div>

  <!-->debtor account bic input<-->
  <div class="form-group ">
      <label for="pwd">Enter BIC:</label>
      <input type="text" name="bic" class="form-control" required  required minlength="8" maxlength="11" id="pwd" [(ngModel)]="bic" (input)="bicCal()"  #bicNgModel="ngModel">
      <div *ngIf="bicNgModel.invalid && bicNgModel.touched" class="badge badge-danger">
        <div *ngIf="bicNgModel.errors.required" > This field is required</div> 
        <div *ngIf="bicNgModel.errors.minlength" >You must type more then 8 characters</div>     
      </div>
  </div>

  <!-->calculate and transfer button<-->
  <button type="button" class="btn btn-mny btn-block {{calculate_fees_disable}}" (click)="calculateFees()">Calculate Fees Options</button>
  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#wrongInput">Open Modal</button>
  <button type="button" class="btn btn-mny btn-block mny-btn" *ngIf="isVisible" (click)="sumerrize()">Transfer Money</button>

</form>


<!-->total sumurize card  *ngIf="isVisible2"<-->
<div class="card well sum-all-card sum-card" style="width: 35rem;" *ngIf="isVisible2">   
    <div class="card-block">
      <h4 class="card-title">Summarize Transaction</h4>
      <p class="card-text">{{total}}</p>
      <p class="card-text">sending over to SBSA</p>
      <a href="#" class="btn btn-mny btn-block"  data-toggle="modal" data-target="#myModal">Submit</a>
    </div>
</div>


<!--end of transaction payment is starting! -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header modal-bank">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Money is Transfered</h4>
      </div>
      <div class="modal-body modal-bank">
        <p>Thank you, come again</p>
      </div>
      <div class="modal-footer modal-bank">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="refresh()">Close</button>
      </div>
    </div>
  </div>
</div>


<!--end of transaction payment is starting! -->
<div id="wrongInput" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Input Error</h4>
        </div>
        <div class="modal-body">
            <p>Make sure to choose Account and enter Amount</p>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>